{% extends '@AdminLTE/layout/security-layout.html.twig' %}
{% block login_box %}

    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('app_index') }}">{{ 'Main page'|trans({}, 'sentences') }} </a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% if error %}
                <div class="has-error">
                    <label class="control-label">
                        <i class="fa fa-times-circle-o"></i>
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </label>
                </div>
            {% endif %}
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-group has-feedback">
                    <input class="form-control" type="text" id="username" placeholder="{{ 'Email'|trans }}"
                           name="email" value="{{ last_username }}"/>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <input type="password" class="form-control" id="password" placeholder="{{ 'Password'|trans }}"
                           name="password"/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'Sign In'|trans }}</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="{#{ path('restore_password_view') }#}">{{ 'I forgot my password'|trans }}</a><br>
            <a href="{#{ path('app_register_form') }#}"
               class="text-center">{{ 'I don\'t have an account'|trans }}</a>

        </div>
        <!-- /.login-box-body -->
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% for message in app.flashes('success') %}
        toastr.success("{{ message|trans }}")
        {% endfor %}
    </script>
{% endblock %}

