{% extends 'base.html.twig' %}
{% block page_content %}
    <div class="row">
        <div class="col-md-8">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Category</h3>
                </div>
                {% form_theme form '@AdminLTE/layout/form-theme.html.twig' %}
                    {{ form_start(form) }}
                    <div class="box-body">
                        {{ form_widget(form) }}
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
