{% extends 'base.html.twig' %}

{% block page_title %}
    Categories
{% endblock %}
{% block page_subtitle %}
    {{ parent() }}
    <div class="pull-right">
        <a class="btn btn-success" href="{{ path('categories_create_form') }}">Create</a>
    </div>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% for category in categories %}
                {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                {% block box_title %}
                    <h2>
                        <a href="{{ path('categories_view', {'category': category.id}) }}">
                            {{ category.name }}
                        </a>
                    </h2>
                    <span class="float-right btn btn-link"><a href="{{ path('categories_update_form', {'category': category.id}) }}">Edit</a></span>
                    <span class="float-right">|</span>
                    <form style="display: inline !important;" action="{{ path('categories_remove', {'category': category.id}) }}" method="POST" accept-charset="utf-8">
                        <button class="btn btn-link" type="submit">Delete</button>
                    </form>
                {% endblock %}
                {% block box_body %}
                    <div class="box-body text-justify">
                        {{ category.description|truncate(50) }}
                    </div>
                {% endblock %}
                {% endembed %}
            {% endfor %}
            <div class="text-center">
                <ul class="pagination">
                    {% for i in range(1, count) %}
                        <li {% if i == current_page %}class="disabled"{% endif %}>
                            <a href="{{ path(
                            app.request.get('_route'),
                            app.request.get('_route_params')|merge({'page': i})
                            ) }}" {% if i != current_page %} class="disabled" {% endif %}>{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
