{% extends 'base.html.twig' %}
{% block page_title %}
    {{ category.name }}
{% endblock %}
{% block page_subtitle %}
    <span class="float-right btn btn-link"><a href="{{ path('categories_update_form', {'category': category.id}) }}">Edit</a></span>
    <span class="float-right">|</span>
    <form style="display: inline !important;" action="{{ path('categories_remove', {'category': category.id}) }}" method="POST" accept-charset="utf-8">
        <button class="btn btn-link" type="submit">Delete</button>
    </form>

    <p>{{ parent() }}</p>
    <p>{{ category.description }}</p>
{% endblock %}
{% block page_content %}
    <h2> Posts in category </h2>
    <div class="float-right">
        <a href="{{ path('posts_create_form') }}" class="btn btn-success">New post</a>
    </div>

    {% include 'partials/post_list.html.twig' with {'posts': posts } only %}
    <h2>Comments</h2>
    <div id="app">
        <comments-list
            path="/api/categories/{{category.id}}/comments"
            {% if app.user is not empty %}
            :author-id="{{app.user.id}}"
            {% endif %}
        ></comments-list>
    </div>
{% endblock %}
