{% extends 'base.html.twig' %}
{% block page_subtitle %}
    {{ parent() }}
    <div class="pull-right">
        <a class="btn btn-success" href="{{ path('posts_create_form') }}">Create</a>
    </div>
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'partials/post_list.html.twig' with {'posts': posts} only %}
            <div class="text-center">
                <ul class="pagination">
                    {% for i in range(1, count) %}
                        <li {% if i == current_page %}class="disabled"{% endif %}>
                            <a href="{{ path(
                            app.request.get('_route'),
                            app.request.get('_route_params')|merge({'page': i})
                            ) }}" {% if i != current_page %} class="disabled" {% endif %}>{{ i }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
