{% extends 'base.html.twig' %}
{% block page_content %}
    <div class="text-center">
        {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_title %}
            <img src="{{ asset(post.image) }}" alt="" class="img-fluid pull-left" width="100%" height="100%">
            <h2>{{ post.title }}</h2>
        {% endblock %}
        {% block box_body %}
            <div class="box-body text-justify">
                {{ post.content|wordwrap(200)|raw }}
            </div>
        {% endblock %}
        {% endembed %}
    </div>
    <h2>Comments</h2>
    <div id="app">
        <comments-list
            path="/api/posts/{{post.id}}/comments"
            {% if app.user is not empty %}
            :author-id="{{app.user.id}}"
            {% endif %}
        ></comments-list>
    </div>
{% endblock %}
