<template>
    <span class="help-block">
        <span v-for="(error, index) in errors" class="label label-danger">{{ error }}</span>
        <slot></slot>
    </span>
</template>

<script>
    export default {
        props: ['errors'],
    }
</script>
