<template>
    <div>
        <ul class="list-group">
            <li class="list-group-item" v-for="(comment, index) in comments">
                <div class="xs-12">
                    <span class="text-bold" v-if="comment.authorName">{{ comment.authorName }}</span>
                    <span class="text-bold"  v-if="!comment.authorName">Anonymous</span>
                    <small class="float-right">{{ comment.createdAt }}</small>
                    <button class="pull-right btn-box-tool btn btn-link" @click.prevent="deleteComment(index)"><i class="fa fa-times"></i></button>
                    <p>{{ comment.content }}</p>
                </div>
            </li>
        </ul>
        <div class="alert alert-info" v-if="!comments.length && loaded">
            No comments here yet.
        </div>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="author-input">Your name (2 words; both uppercase)</label>
                    <input id="author-input"
                           class="form-control"
                           :class="{'has-error': errors['authorName'] != null }"
                           type="text"
                           name="autor"
                           v-model="author"/>
                    <form-error v-if="errors.authorName" :errors="errors.authorName.errors">
                    </form-error>
                </div>
                <div class="form-group">
                    <label for="content-input">Your comment</label>
                    <textarea name="content"
                              id="content-input"
                              v-model="content"
                              :class="{'has-error': errors['content']}"
                              rows="5"
                              class="form-control"
                              placeholder="Content"></textarea>
                    <form-error v-if="errors.content" :errors="errors.content.errors">
                    </form-error>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" @click.prevent="save()">
                    Comment
                </button>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
     props: {
         path: {
             type: String,
             required: true
         }
     },
     mounted() {
         axios.get(this.path)
             .then(response => this.comments = response.data)
             .catch(error => console.log(error))
             .finally(() => this.loaded = true);
     },
     data() {
         return {
             loaded: false,
             comments: [],
             content: '',
             author: '',
             errors: [],
         }
     },
     methods: {
         save() {
             axios.post(this.path, {
                 content: this.content,
                 authorName: this.author,
             }).then(response => {
                 if (!response.data) {
                     console.log('error', response);

                     return;
                 }

                 this.comments.push(response.data);
                 this.content = '';
                 this.author = '';

                 this.errors = [];
             }).catch(error => this.errors = error.response.data.children);
         },
         deleteComment(idx) {
             axios.delete(this.path + '/' + this.comments[idx]['id'])
                 .then(_ => this.$delete(this.comments, idx))
                 .catch(error => console.log(error));
         }
     }
 }
</script>
