{% for post in posts %}
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ asset(post.image) }}" alt="" class="img-fluid pull-left" width="100" height="100">
                </div>
                <div class="col-md-8">
                    <h2>
                        <a href="{{ path('posts_view', {'post': post.id}) }}"
                           class="username"> {{ post.title }}</a>
                    </h2>
                    <span class="float-right btn btn-link"><a href="{{ path('posts_update_form', {'post': post.id}) }}">Edit</a></span>
                    <span class="float-right">|</span>
                    <form style="display: inline !important;" action="{{ path('posts_remove', {'post': post.id}) }}" method="POST" accept-charset="utf-8">
                        <button class="btn btn-link" type="submit">Delete</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="box-footer">
            <p>
            {{ post.content|truncate(50)|striptags }}
            </p>
        </div>
    </div>
{% endfor %}
