{% extends '@AdminLTE/layout/default-layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}
{% block logo_large %}<strong>B</strong>l<strong>o</strong>g{% endblock %}
{% block logo_mini %}B{% endblock %}
{% block page_subtitle %}
    {{ dump(request_info.browserStats()) }}
{% endblock %}
{% block sidebar_search %}
{% endblock %}
{% block navbar_toggle %}
{% endblock %}
{% block sidebar_nav %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
